
table {
    border: 1px solid #dddddd;
    height: 400px;
    width: 700px;
    text-align: center;
}


img {
    height: 50px;
    width: 50px;
}

.arrow {
    height: 12px;
    width: 12px;
    margin-right: 2px;
    margin-left: 2px;
}

#down:hover {
    border: 2px solid blue;
    background-color: yellowgreen;
}

#up:hover {
    border: 2px solid yellowgreen;
    background-color: blue;

}